.contents
  %h2 --------- ログイン ---------
  = form_with(model: @user, url: session_path(resource_name), class: "contents__form") do |f|
    .devise
      .devise__left
        = f.label :email, class: "label"
        %br
        = f.label :password, class: "label"
      .devise__right
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "text"
        %br
        = f.password_field :password, autocomplete: "current-password", class: "text"
    = f.submit "ログインする", class: "submit"
    %br
    %h3 or
    = link_to "新規登録へ", new_user_registration_path, class: "link"
