= form_with(model: car, local: true, class: "form") do |f|
  .form__box
    .form__box--left
      = f.label :name, class: "label"
      %br
      = f.label :model, class: "label"
      %br
      = f.label :year, class: "label"
      %br
      = f.label :tire, class: "label"
    .form__box--right
      = f.text_field :name, placeholder: "車名", class: "text"
      %br
      = f.text_field :model, placeholder: "型式", class: "text"
      %br
      = f.text_field :year, placeholder: "年式", class: "text"
      %br
      = f.text_field :tire, placeholder: "タイヤ", class: "text"
  = f.submit '登録する', class: "submit"
