= form_with(model: car, url: cars_path, local: true, class: "form") do |f|
  = f.label :name
  = f.text_field :name, placeholder: "車名"
  = f.label :model
  = f.text_field :model, placeholder: "型式"
  = f.label :year
  = f.text_field :year, placeholder: "年式"
  = f.label :tire
  = f.text_field :tire, placeholder: "タイヤ"
  = f.submit '登録する', class: "submit"
